.table-container {
    max-width: 100%;
    max-height: 500px; /* 고정 높이 설정 */
    overflow-x: auto;
    overflow-y: auto; /* 세로 스크롤 활성화 */
    margin-bottom: 20px;
}
table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
th {
    position: sticky;
    top: 0; /* 상단에 고정 */
    background-color: #fff; /* 헤더 배경색 */
    z-index: 1000; /* 다른 행 위에 위치하도록 설정 */
}
th, td {
    white-space: nowrap;
    padding: 8px 16px;
    border: 1px solid #ddd;
}
#map {
    width: 100%;
    height: 400px;
    margin-bottom: 50px; /* 페이지 하단과 지도 사이에 여백 추가 */

}

.dotOverlay.distanceInfo {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    margin-top: 5px;
    position: absolute;  /* 위치를 고정하기 위해 absolute 사용 */
    right: 10px;           /* 위쪽으로부터의 거리 설정 */

}

.info {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    margin-top: 5px;
    position: absolute;  /* 위치를 고정하기 위해 absolute 사용 */
    left: 10px;           /* 위쪽으로부터의 거리 설정 */

}