{% extends 'base.html' %}

{% block title %}Excel Data Viewer{% endblock %}

{% block content %}
<h1 class="my-4">엑셀 데이터 및 지도 보기</h1>

<form action="/" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">엑셀 파일 업로드:</label>
        <input type="file" name="file" id="file" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">업로드</button>
</form>

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

{% if table_html %}
<div class="table-container">
    {{ table_html|safe }}
</div>
{% endif %}

<div id="map"></div>

<!-- positions 변수를 JavaScript로 전달 -->
<script>
    var positions = {{ positions | safe }};

</script>
{% endblock %}
